* {
  margin: 0; padding: 0; box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f8ff;
  color: #252432;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 72rem; 
  margin: 0 auto;
  padding: 0 1rem;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}

nav .logo img {
  max-width: 9rem; 
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

nav ul li a {
  font-weight: 500;
  font-size: 1rem;
  color: #8987a1;
  transition: color 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
  color: #252432;
  font-weight: 700;
}

.cart {
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: #252432;
  user-select: none;
}
